@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


/*My little CSS Reset START*/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input {border:0; padding:0; margin:0; background-color:transparent;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/*My little CSS Reset END*/


.gold-color {
    color: rgb(247, 179, 1);
}
.hidden {
    display: none !important;
}

body {
    background-color: #f3ede5;
    padding: 25px 0;
    display: grid;
    justify-content: center;
    gap: 90px;
}
@media (max-width: 840px) {
    body {
        gap: 40px;
    }
}

.header {
    display: grid;
    grid-template-columns: minmax(115px, 1fr) minmax(400px, 1fr) minmax(200px, 1fr);
    align-items: center;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo > img {
    width: 110px;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* dropdown styling */
.dropdown-container {
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;
    left: -80px;
    padding-top: 30px;
}
.header > .dropdown {
    display: block;
    padding-top: 0;
    position: fixed;
    top: 20px;
    left: 5px;
    right: 5px;
}
.dropdown > div {
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
}

/* tiny dropdown arrow pointer */
.navlinks .dropdown > div::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #fff transparent;
    top: -7px;
    left: 97px;
    z-index: -1;
}
.navlinks .dropdown-container:hover > div {
    display: block;
}

/* dropdown contents styling */
.dd-descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dd-option {
    width: 350px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.dd-option:not(.dd-option:last-child) {
    margin-bottom: 22px;
}
.dd-opt-img {
    align-self: flex-start;
    width: 22px;
    height: 22px;
}
.dd-opt-details {
    color: grey;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
}
h2.dd-opt-details {
    color: rgb(117, 160, 200);
    font-weight: 600;
}
.dd-opt-details > h2 {
    font-weight: 700;
    color: rgb(10, 38, 63)
}

.navlink {
    color: rgb(100, 100, 100);
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 100%;
}
.navlink:hover {
    color: #000000;
}
.member-access {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 15px;
}
.signup-link {
    height: 40px;
    width: 135px;
    color: white;
    background-color: rgb(19, 52, 22);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}
.menu-btn {
    display: none;
    justify-self: end;
    align-content: center;
    position: relative;
}
.menu-open, .menu-close {
    width: 35px;
    cursor: pointer;
}
.menu {
    border: 0.2px solid #bbbbbb;
    border-radius: 10px;
    box-shadow: 2px 2px #bbbbbb;
    background-color: #f3ede5;
    width: 70vw;
    padding: 30px 0;
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.menu .navlink {
    font-size: 1.2rem;
}

@media (max-width: 843px) {
    .header {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .navlinks {
        display: none;
    }
    .member-access {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
    .dd-option {
        width: auto;
    }
}


/* main area styling  */
.main-area {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}
.main-area-content {
    font-family: Inter, sans-serif;
}
.main-area-content > h1 {
    max-width: 17ch;
    margin-bottom: 10px;
    font-size: calc(0.7rem + 3.68vw);
    font-weight: 700;
}
.main-area-content > p {
    max-width: 69ch;
    margin-bottom: 10px;
    color: rgb(133, 133, 133);
    font-size: calc(0.6rem + 0.58vw);
    font-weight: 500;
    line-height: 1.5;
}
.main-area-content > a {
    margin-bottom: 13px;
}
.main-area-content > p:nth-child(4) {
    display: flex;
    align-items: center;
}
.main-area-content > p:nth-child(4) > img {
    width: 18px;
    margin-left: 15px;
}

.main-area-img {
    display: flex;
    justify-content: flex-end;
}
.main-area-img > img {
    width: 350px;
    height: auto;
}

@media (max-width: 1084px) {
    .main-area-img > img {
        width: 300px;
    }
}
@media (max-width: 840px) {
    .main-area-img {
        display: none;
    }
}

/* "trusted by" section styling */
.trusted-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.trusted-by > p {
    color: rgb(133, 133, 133);
    font-family: Inter, sans-serif;
    font-size: calc(0.6rem + 0.58vw);
    font-weight: 500;
}
.trusted-by > div {
    display: flex;
    justify-content: center;
    gap: 40px 20px;
    flex-wrap: wrap;
}
.trusted-by img {
    width: 160px;
}

@media (max-width: 780px) {
    .trusted-by img {
        width: 120px;
    }
}
@media (max-width: 282px) {
    .trusted-by img {
        width: 85px;
    }
}